<!--_header.htmal.erb-->
<nav class="navbar navbar-default">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li><%= link_to 'My album', picture_albums_path %></li>
      <li><%= link_to 'Add album', new_picture_album_path %></li>
    </ul>


    <ul class="nav navbar-nav navbar-right">

      <li><% if user_signed_in? %>
        <%= link_to current_user.email, user_show_path(current_user) %></li>
        <li><%= link_to 'sign out',destroy_user_session_path, method: :delete%></li>
        <% else %>
        <li><%= link_to 'sign in ',new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
